# Configuration globale des runners GitHub
runners_defaults:
  base_image: ghcr.io/actions/actions-runner:2.328.0  # Image de base commune
  org_url: https://github.com/it-room
  # Le token GitHub doit être défini dans la variable d'environnement GITHUB_TOKEN (voir .env)

runners:
  - id: php83
    name_prefix: my-runner-php83
    labels: [my-runner-set-php83, php8.3]
    nb: 2
    build_image: ./config/Dockerfile.php83
    techno: php
    techno_version: 8.3
  - id: node20
    name_prefix: my-runner-node20
    labels: [my-runner-set-node20, node20]
    nb: 1
    build_image: ./config/Dockerfile.node20
    techno: node
    techno_version: 20

scheduler:
  check_interval: "15s"           # Fréquence de vérification des mises à jour
  time_window: "07:00-23:00"     # Plage horaire autorisée pour les actions automatiques
  days: ["mon", "wed", "fri"]    # Jours d'exécution
  actions:
    - check
    - build
	- deploy
  max_retries: 3